title: "vimOS"
logo: "./assets/images/cosmos.png"
description: "A modal-native operating system experiment focused on semantic command interaction"
baseurl: ""
url: "https://vimos.org"
markdown: kramdown
permalink: /posts/:title/

collections:
  posts:
    output: true
    permalink: /posts/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .bundle/
